#mainlayout {
  display: flex;
  min-height: 100vh;
  padding: 0;
}

#mainlayout .header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  margin: 0;
  padding: 1em;
  background-color: #eee;

}

#mainlayout .content {
  width: 100%;
  padding-top: 80px;
}

#createsurvey {
	

}

#createsurvey .createheader {
	width: 45%;
	margin-bottom: 0px;
	padding: 0px;
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
}

#createsurvey .questionpackage {
	width: 45%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#custom {
	padding: 0px;
}

#custom .content {
	padding: 0px;
}