#mainlayout {
  display: flex;
  min-height: 100vh;
  padding: 0;
}

#mainlayout .header {
	width: 100%;
  padding: 1em;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

#mainlayout .content {
  width: 100%;
  padding: 10px;
}

#createsurvey {
	
  display: flex;
  min-height: 100vh;
  padding: 0;
  
}

#createsurvey .createheader {
	width: 45%;
	margin-bottom: 0px;
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
}

#createsurvey .questionpackage {
	width: 45%;
}

#textcustom {
}

#multicustom {
	padding: 0px;
}

#multicustom .content {
	padding: 0px;
}